## Install Necessary Libaries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
!pip install langchain_openai langchain_community langchain pymysql chromadb -q

[notice] A new release of pip is available: 23.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Intergating with MYSQL

In [3]:
db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "superstore"
from langchain_community.utilities.sql_database import SQLDatabase
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

## Using GooglePalm LLM Model

In [5]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyDdqmbzy_6Mu5kZ_7uJat_boAHHYIYOVlg'

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

## Queries

In [6]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)
qns1 = db_chain("what is total sales in sample super store?")

C:\Users\ammanana\AppData\Roaming\Python\Python39\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
what is total sales in sample super store?
SQLQuery:SELECT SUM(Sales) FROM samplesuperstoredata
SQLResult: [(2272449.8562999545,)]
Answer:2272449.8562999545
> Finished chain.

In [7]:
qns2 = db_chain("what is total sales for category in furniture?")

> Entering new SQLDatabaseChain chain...
what is total sales for category in furniture?
SQLQuery:SELECT SUM(Sales) FROM samplesuperstoredata WHERE Category = 'Furniture'
SQLResult: [(733046.8612999996,)]
Answer:733046.8612999996
> Finished chain.

In [8]:
qns3 = db_chain("what is total sales for category in furniture and region in south?")

> Entering new SQLDatabaseChain chain...
what is total sales for category in furniture and region in south?
SQLQuery:SELECT SUM(Sales) FROM samplesuperstoredata WHERE Category = 'Furniture' AND Region = 'South'
SQLResult: [(116273.1360000001,)]
Answer:116273.136
> Finished chain.

In [9]:
qns4 = db_chain("what is total sales for category and group by category?")

> Entering new SQLDatabaseChain chain...
what is total sales for category and group by category?
SQLQuery:SELECT Category, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Category
SQLResult: [('Furniture', 733046.8612999996), ('Office Supplies', 703502.9280000031), ('Technology', 835900.0669999964)]
Answer:Furniture: 733046.8612999996, Office Supplies: 703502.9280000031, Technology: 835900.0669999964
> Finished chain.

In [10]:
qns5 = db_chain("what is total sales for segement and order by segment from highest to smallest?")

> Entering new SQLDatabaseChain chain...
what is total sales for segement and order by segment from highest to smallest?
SQLQuery:SELECT Segment, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Segment ORDER BY Total_Sales DESC LIMIT 5
SQLResult: [('Consumer', 1150166.1819999903), ('Corporate', 696604.5138000002), ('Home Office', 425679.1605000003)]
Answer:Consumer, Corporate, Home Office
> Finished chain.

In [11]:
qns6 = db_chain("what is total profit for cities and select only top 5 cities?")

> Entering new SQLDatabaseChain chain...
what is total profit for cities and select only top 5 cities?
SQLQuery:SELECT City, SUM(Profit) AS Total_Profit FROM samplesuperstoredata GROUP BY City ORDER BY Total_Profit DESC LIMIT 5
SQLResult: [('New York City', 61624.0582), ('Los Angeles', 29806.91589999997), ('Seattle', 28868.995700000003), ('San Francisco', 17176.66849999999), ('Detroit', 13117.051600000003)]
Answer:New York City, Los Angeles, Seattle, San Francisco, Detroit
> Finished chain.

In [12]:
qns7 = db_chain("what is count of data?")

> Entering new SQLDatabaseChain chain...
what is count of data?
SQLQuery:SELECT COUNT(*) FROM samplesuperstoredata
SQLResult: [(9694,)]
Answer:9694
> Finished chain.

In [13]:
qns8 = db_chain("what is count of cities in data")

> Entering new SQLDatabaseChain chain...
what is count of cities in data
SQLQuery:SELECT count(distinct City) FROM samplesuperstoredata
SQLResult: [(529,)]
Answer:529
> Finished chain.

In [14]:
qns9 = db_chain("what is total revenue in samplesuper store data")

> Entering new SQLDatabaseChain chain...
what is total revenue in samplesuper store data
SQLQuery:SELECT SUM(Sales) AS Total_Revenue FROM samplesuperstoredata
SQLResult: [(2272449.8562999545,)]
Answer:2272449.8562999545
> Finished chain.

In [15]:
sql_code = """
select sum(Sales*Quantity) as total_revenue
 """

qns10 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(Sales*Quantity) as total_revenue

SQLQuery:

C:\Users\ammanana\AppData\Roaming\Python\Python39\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

SELECT SUM(Sales*Quantity) AS total_revenue
FROM samplesuperstoredata
SQLResult: [(11370043.351900024,)]
Answer:11370043.351900024
> Finished chain.

In [16]:
qns11 = db_chain("Which region has the highest sales?")

> Entering new SQLDatabaseChain chain...
Which region has the highest sales?
SQLQuery:SELECT Region, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Region ORDER BY Total_Sales DESC LIMIT 1
SQLResult: [('West', 713471.3445000004)]
Answer:West
> Finished chain.

In [28]:
qns12 = db_chain("What is the total sales and profit in each of the regions in 2018?")

> Entering new SQLDatabaseChain chain...
What is the total sales and profit in each of the regions in 2018?
SQLQuery:SELECT Region, SUM(Sales), SUM(Profit) FROM samplesuperstoredata WHERE Order_Date BETWEEN '2018-01-01' AND '2018-12-31' GROUP BY Region
SQLResult:
Answer:| Region | SUM(Sales) | SUM(Profit) |
|---|---|---|
| Central | 21864.54 | 10932.27 |
| East | 25754.65 | 12877.32 |
| Midwest | 21640.54 | 10820.27 |
| South | 22051.45 | 11025.72 |
| West | 22749.86 | 11250.27 |
> Finished chain.

In [29]:
qns13 = db_chain("Which states had the maximum and minimum sales in 2018?")

> Entering new SQLDatabaseChain chain...
Which states had the maximum and minimum sales in 2018?
SQLQuery:SELECT State, SUM(Sales) AS Total_Sales FROM samplesuperstoredata WHERE Order_Date BETWEEN '2018-01-01' AND '2018-12-31' GROUP BY State ORDER BY Total_Sales DESC LIMIT 1 OFFSET 0
SQLResult:
Answer:California
> Finished chain.

In [35]:
sqlcode = """
SELECT State, Sales 
FROM (
    (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata
    WHERE YEAR(Order_Date) = 2018
    GROUP BY State
    ORDER BY 2 DESC
    LIMIT 1)
    
    UNION
    
    (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata
    WHERE YEAR(Order_Date) = 2018
    GROUP BY State
    ORDER BY 2 ASC
    LIMIT 1)
) AS subquery
ORDER BY Sales DESC;

"""
qns13 = db_chain(sqlcode)

> Entering new SQLDatabaseChain chain...

SELECT State, Sales
FROM (
    (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata
    WHERE YEAR(Order_Date) = 2018
    GROUP BY State
    ORDER BY 2 DESC
    LIMIT 1)

    UNION

    (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata
    WHERE YEAR(Order_Date) = 2018
    GROUP BY State
    ORDER BY 2 ASC
    LIMIT 1)
) AS subquery
ORDER BY Sales DESC;


SQLQuery:SELECT State, Sales
FROM (
    (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata
    WHERE YEAR(Order_Date) = 2018
    GROUP BY State
    ORDER BY 2 DESC
    LIMIT 1)

    UNION

    (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata
    WHERE YEAR(Order_Date) = 2018
    GROUP BY State
    ORDER BY 2 ASC
    LIMIT 1)
) AS subquery
ORDER BY Sales DESC;
SQLResult:
Answer:California 105226.64
> Finished chain.

###  Few Short Learning

In [52]:
few_shots = [
    {'Question' :"what is total sales in sample super store?",
     'SQLQuery' : "SELECT SUM(Sales) FROM samplesuperstoredata",
     'SQLResult': "Result of the SQL query",
     'Answer' : '2272449.8562999545'},
    {'Question' :"what is total sales for category in furniture?",
     'SQLQuery' : "SELECT SUM(Sales) FROM samplesuperstoredata WHERE Category = 'Furniture'",
     'SQLResult': "Result of the SQL query",
     'Answer' : '733046.8612999996'},
    {'Question' :"what is total sales for category in furniture and region in south?",
     'SQLQuery' : "SELECT SUM(Sales) FROM samplesuperstoredata WHERE Category = 'Furniture' AND Region = 'South'",
     'SQLResult': "Result of the SQL query",
     'Answer' : '116273.136'},
    {'Question' :"what is total sales for category and group by category?",
     'SQLQuery' : "SELECT Category, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Category",
     'SQLResult': "Result of the SQL query",
     'Answer' : 'Furniture: 733046.8612999996, Office Supplies: 703502.9280000031, Technology: 835900.0669999964'},
    {'Question' :"what is total sales for segement and order by segment from highest to smallest?",
     'SQLQuery' : "SELECT Segment, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Segment ORDER BY Total_Sales DESC",
     'SQLResult': "Result of the SQL query",
     'Answer' : "[('Consumer', 1150166.1819999903), ('Corporate', 696604.5138000002), ('Home Office', 425679.1605000003)]"},
    {'Question' :"what is total profit for cities and select only top 5 cities?",
     'SQLQuery' : "SELECT City, SUM(Profit) AS Total_Profit FROM samplesuperstoredata GROUP BY City ORDER BY Total_Profit DESC LIMIT 5",
     'SQLResult': "Result of the SQL query",
     'Answer' : " [('New York City', 61624.0582), ('Los Angeles', 29806.91589999997), ('Seattle', 28868.995700000003), ('San Francisco', 17176.66849999999), ('Detroit', 13117.051600000003)]"},
     {'Question' :"what is count of data?",
     'SQLQuery' : "SELECT COUNT(*) FROM samplesuperstoredata",
     'SQLResult': "Result of the SQL query",
     'Answer' : '9694'},
     {'Question' :"what is count of cities in data",
     'SQLQuery' : "SELECT count(distinct City) FROM samplesuperstoredata",
     'SQLResult': "Result of the SQL query",
     'Answer' : '529'},
     {'Question' :"what is total revenue in samplesuper store data",
     'SQLQuery' : "select sum(Sales*Quantity) as total_revenue",
     'SQLResult': "Result of the SQL query",
     'Answer' : '11370043.351900024'},
     {'Question' :"Which region has the highest sales?",
     'SQLQuery' : "SELECT Region, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Region ORDER BY Total_Sales DESC LIMIT 1",
     'SQLResult': "Result of the SQL query",
     'Answer' : 'West'},
     {'Question' :"What is the total sales and profit in each of the regions in 2018?",
     'SQLQuery' : "SELECT Region, SUM(Sales), SUM(Profit) FROM samplesuperstoredata WHERE Order_Date BETWEEN '2018-01-01' AND '2018-12-31' GROUP BY Region",
     'SQLResult': "Result of the SQL query",
     'Answer' : "Region SUM(Sales)  SUM(Profit) Central  21864.54  10932.27   East  25754.65  12877.32 Midwest  21640.54  10820.27 South  22051.45  11025.72 West  22749.86  11250.27 "},
      {'Question' :"Which states had the maximum and minimum sales in 2018?",
     'SQLQuery' : "SELECT State, Sales FROM ((SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata WHERE YEAR(Order_Date) = 2018 GROUP BY State ORDER BY 2 DESC LIMIT 1) UNION (SELECT State, FLOOR(SUM(Sales)) AS Sales FROM samplesuperstoredata WHERE YEAR(Order_Date) = 2018 GROUP BY Stat ORDER BY 2 ASC LIMIT 1)) AS subquery ORDER BY Sales DESC;",
     'SQLResult': "Result of the SQL query",
     'Answer' : ' state  sales  missouri 839  oregon  5 '}]

## Embeddings

In [53]:
from langchain_google_genai import GoogleGenerativeAIEmbeddings
embedding_model= GoogleGenerativeAIEmbeddings(google_api_key=api_key, model="models/embedding-001")

## Vectorstore

In [56]:
from langchain.vectorstores import Chroma
from langchain.prompts import SemanticSimilarityExampleSelector


to_vectorize = [" ".join(example.values()) for example in few_shots]
vectorstore = Chroma.from_texts(to_vectorize, embedding_model, metadatas=few_shots)

In [57]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=5,
)

example_selector.select_examples({"Question": "what is sales for sub_category and group by sub_category?"})

[{'Answer': 'Furniture: 733046.8612999996, Office Supplies: 703502.9280000031, Technology: 835900.0669999964',
  'Question': 'what is total sales for category and group by category?',
  'SQLQuery': 'SELECT Category, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Category',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '116273.136',
  'Question': 'what is total sales for category in furniture and region in south?',
  'SQLQuery': "SELECT SUM(Sales) FROM samplesuperstoredata WHERE Category = 'Furniture' AND Region = 'South'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '733046.8612999996',
  'Question': 'what is total sales for category in furniture?',
  'SQLQuery': "SELECT SUM(Sales) FROM samplesuperstoredata WHERE Category = 'Furniture'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '2272449.8562999545',
  'Question': 'what is total sales in sample super store?',
  'SQLQuery': 'SELECT SUM(Sales) FROM samplesuperstoredata',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '11370043.351900024',
  'Question': 'what is total revenue in samplesuper store data',
  'SQLQuery': 'select sum(Sales*Quantity) as total_revenue',
  'SQLResult': 'Result of the SQL query'}]

## Prompt Template

In [58]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [59]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [60]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [61]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [62]:
new_chain("what is sales for sub_category and group by sub_category?")

> Entering new SQLDatabaseChain chain...
what is sales for sub_category and group by sub_category?
SQLQuery:SELECT Sub_Category, SUM(Sales) AS Total_Sales FROM samplesuperstoredata GROUP BY Sub_Category
SQLResult: [('Bookcases', 114879.99629999997), ('Chairs', 328449.10300000076), ('Labels', 12486.312), ('Tables', 206965.5320000001), ('Storage', 216803.21200000012), ('Furnishings', 82752.23000000004), ('Art', 27118.791999999954), ('Phones', 329753.0880000001), ('Binders', 199905.71700000006), ('Appliances', 107532.161), ('Paper', 75356.11799999999), ('Accessories', 167380.3180000001), ('Envelopes', 15339.489999999993), ('Fasteners', 3008.6559999999995), ('Supplies', 45952.47000000001), ('Machines', 189238.63099999996), ('Copiers', 149528.02999999994)]
Answer:Bookcases: 114879.99629999997, Chairs: 328449.10300000076, Labels: 12486.312, Tables: 206965.5320000001, Storage: 216803.21200000012, Furnishings: 82752.23000000004, Art: 27118.791999999954, Phones: 329753.0880000001, Binders: 199905.71700000006, Appliances: 107532.161, Paper: 75356.11799999999, Accessories: 167380.3180000001, Envelopes: 15339.489999999993, Fasteners: 3008.6559999999995, Supplies: 45952.47000000001, Machines: 189238.63099999996, Copiers: 149528.02999999994
> Finished chain.

{'query': 'what is sales for sub_category and group by sub_category?',
 'result': 'Bookcases: 114879.99629999997, Chairs: 328449.10300000076, Labels: 12486.312, Tables: 206965.5320000001, Storage: 216803.21200000012, Furnishings: 82752.23000000004, Art: 27118.791999999954, Phones: 329753.0880000001, Binders: 199905.71700000006, Appliances: 107532.161, Paper: 75356.11799999999, Accessories: 167380.3180000001, Envelopes: 15339.489999999993, Fasteners: 3008.6559999999995, Supplies: 45952.47000000001, Machines: 189238.63099999996, Copiers: 149528.02999999994'}